<% self.formats = [:json, :html] %>
<div id="<%=limit.id%>" class="limit-container">
  <%= form_for limit, :remote => false  do |f| %>
  <div class="limit-triangule" <%# category_color('border-left-color',limit)%> ></div>
  <div class="limit-container-inner">
    <div class="limit-category" <%# category_color('color',limit)%> >
      <%# limit.category.name %>
      <div class="limit-category-select">
        <%= collection_select "limit","category_id", Category.all, :id, :name, options ={:prompt => "Select a category", :selected => limit.category.id}  %>
      </div>
    </div>

    <%= f.hidden_field :client_id %>
    <%= f.submit %>


    <div class="limit-end">

      <div class="limit-head-container">
        <div class="limit-head-toggle">
          FROM
        </div>
        <div class="limit-head-content">
          <i class="glyphicon-calendar glyphicon"></i>
          <%= f.text_field :starting, :id => "datepicker", :class => "invi-input", :style => "cursor:pointer;" %>

        </div>
      </div>

      <div style="height:38px;">

      </div>

      <div class="limit-money-input ">
        <%= f.text_field :max %><span class="limit-euro-edit">€</span>
      </div>

        <div class="limit-head-toggle-select">

          <%= f.select :period, options_for_select( [['Weekly', 'weekly'], ['Montly', 'montly'], ['Yearly','yearly']], limit.period)  %>

        </div>
    </div>

  </div>
  <%end%>
</div>