<h2>Sign up for a client account</h2>



<div class="row">
  <div class="col-span-7">
    <div class="media" style="margin-top: 20px;">
      <a class="pull-left" href="#">
        <img class="media-object" style="visibility: hidden;" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACBklEQVR4Xu2Yz6sBURTHv36UUhYsiZWSnSxY+fdFlmRlIVmQkpLfyevc19EYvLw5ec8031mNzD1z7/ee7/fT3NhyubwgwleMArADaAFmQIQzEAxBUoAUIAVIAVIgwgoQg8QgMUgMEoMRhgA/hohBYpAYJAaJQWIwwgqYMbjb7dBut3G5fDupUCigWq3eSDoajTAejx/+90j7d9R8tscmAU6nE7rdLtLpNOr1urvfbDao1WrI5XLunfrMfr9/SYB31PypwU0CzGYzDAYDVCoVFIvFh+/p9/tYrVY4HA5XAXSciCTCyTOLxcIJdzweA9UM6mKTANLak8kEyWTSTVwurxiy0OFwiFKpdGcB6ZbtdotGo4FOp4NsNuvEsNQMIoJJANm5+Xx+3VmvBTKZzNUe+Xze7ao3H7w+TyQSaLVaTkhLzT8XQMNNd937W9re39b+gBTB1uv1jTDWmr8VwdQB/gzQyZfLZUynU0jw+S/1vY5NpVIuKDU4LTV/u3h53iTAo8QWX2s764R0UdoBOk5aX3zf6/Ug981mE+fz+Y4sr9QMsnizAFLA6+V4PH6DwGcCqM/91lGBgtT8NwGCvvhTxpks8CmLsMyDAvBEiCdCPBHiiZAlRcM+lhQgBUgBUoAUCHuSW+ZPCpACpAApQApYUjTsY0kBUoAUIAVIgbAnuWX+pEDUKfAFWX94n25Pz+0AAAAASUVORK5CYII=">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Set your spending limits</h4>
        We take your spending controls really serious. With our website, discover an easy way to manage the money you spend with your shoppings: just set your limits by time and category. </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" style="visibility: hidden;" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACBklEQVR4Xu2Yz6sBURTHv36UUhYsiZWSnSxY+fdFlmRlIVmQkpLfyevc19EYvLw5ec8031mNzD1z7/ee7/fT3NhyubwgwleMArADaAFmQIQzEAxBUoAUIAVIAVIgwgoQg8QgMUgMEoMRhgA/hohBYpAYJAaJQWIwwgqYMbjb7dBut3G5fDupUCigWq3eSDoajTAejx/+90j7d9R8tscmAU6nE7rdLtLpNOr1urvfbDao1WrI5XLunfrMfr9/SYB31PypwU0CzGYzDAYDVCoVFIvFh+/p9/tYrVY4HA5XAXSciCTCyTOLxcIJdzweA9UM6mKTANLak8kEyWTSTVwurxiy0OFwiFKpdGcB6ZbtdotGo4FOp4NsNuvEsNQMIoJJANm5+Xx+3VmvBTKZzNUe+Xze7ao3H7w+TyQSaLVaTkhLzT8XQMNNd937W9re39b+gBTB1uv1jTDWmr8VwdQB/gzQyZfLZUynU0jw+S/1vY5NpVIuKDU4LTV/u3h53iTAo8QWX2s764R0UdoBOk5aX3zf6/Ug981mE+fz+Y4sr9QMsnizAFLA6+V4PH6DwGcCqM/91lGBgtT8NwGCvvhTxpks8CmLsMyDAvBEiCdCPBHiiZAlRcM+lhQgBUgBUoAUCHuSW+ZPCpACpAApQApYUjTsY0kBUoAUIAVIgbAnuWX+pEDUKfAFWX94n25Pz+0AAAAASUVORK5CYII=">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Get warnings about your limits</h4>
        MobiWallet warns you everytime you are almost passing your limits! </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" style="visibility: hidden;" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACBklEQVR4Xu2Yz6sBURTHv36UUhYsiZWSnSxY+fdFlmRlIVmQkpLfyevc19EYvLw5ec8031mNzD1z7/ee7/fT3NhyubwgwleMArADaAFmQIQzEAxBUoAUIAVIAVIgwgoQg8QgMUgMEoMRhgA/hohBYpAYJAaJQWIwwgqYMbjb7dBut3G5fDupUCigWq3eSDoajTAejx/+90j7d9R8tscmAU6nE7rdLtLpNOr1urvfbDao1WrI5XLunfrMfr9/SYB31PypwU0CzGYzDAYDVCoVFIvFh+/p9/tYrVY4HA5XAXSciCTCyTOLxcIJdzweA9UM6mKTANLak8kEyWTSTVwurxiy0OFwiFKpdGcB6ZbtdotGo4FOp4NsNuvEsNQMIoJJANm5+Xx+3VmvBTKZzNUe+Xze7ao3H7w+TyQSaLVaTkhLzT8XQMNNd937W9re39b+gBTB1uv1jTDWmr8VwdQB/gzQyZfLZUynU0jw+S/1vY5NpVIuKDU4LTV/u3h53iTAo8QWX2s764R0UdoBOk5aX3zf6/Ug981mE+fz+Y4sr9QMsnizAFLA6+V4PH6DwGcCqM/91lGBgtT8NwGCvvhTxpks8CmLsMyDAvBEiCdCPBHiiZAlRcM+lhQgBUgBUoAUCHuSW+ZPCpACpAApQApYUjTsY0kBUoAUIAVIgbAnuWX+pEDUKfAFWX94n25Pz+0AAAAASUVORK5CYII=">
      </a>
      <div class="media-body">
        <h4 class="media-heading">See personal statistics</h4>
        Check the analytics tab to see your shopping tendencies. Spendings by time and category.</div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" style="visibility: hidden;" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACBklEQVR4Xu2Yz6sBURTHv36UUhYsiZWSnSxY+fdFlmRlIVmQkpLfyevc19EYvLw5ec8031mNzD1z7/ee7/fT3NhyubwgwleMArADaAFmQIQzEAxBUoAUIAVIAVIgwgoQg8QgMUgMEoMRhgA/hohBYpAYJAaJQWIwwgqYMbjb7dBut3G5fDupUCigWq3eSDoajTAejx/+90j7d9R8tscmAU6nE7rdLtLpNOr1urvfbDao1WrI5XLunfrMfr9/SYB31PypwU0CzGYzDAYDVCoVFIvFh+/p9/tYrVY4HA5XAXSciCTCyTOLxcIJdzweA9UM6mKTANLak8kEyWTSTVwurxiy0OFwiFKpdGcB6ZbtdotGo4FOp4NsNuvEsNQMIoJJANm5+Xx+3VmvBTKZzNUe+Xze7ao3H7w+TyQSaLVaTkhLzT8XQMNNd937W9re39b+gBTB1uv1jTDWmr8VwdQB/gzQyZfLZUynU0jw+S/1vY5NpVIuKDU4LTV/u3h53iTAo8QWX2s764R0UdoBOk5aX3zf6/Ug981mE+fz+Y4sr9QMsnizAFLA6+V4PH6DwGcCqM/91lGBgtT8NwGCvvhTxpks8CmLsMyDAvBEiCdCPBHiiZAlRcM+lhQgBUgBUoAUCHuSW+ZPCpACpAApQApYUjTsY0kBUoAUIAVIgbAnuWX+pEDUKfAFWX94n25Pz+0AAAAASUVORK5CYII=">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Shop with your smartphone</h4>
        Comfortably charge your account, download our Android app and start shopping all around. Just scan scan QR Codes and enjoy the system that will change the way people shop.</div>
    </div>

  </div>
  <div class=" col-span-5">

    <div class="well">

      <%= form_for(resource, :as => resource_name, :url => register_client_path, :html => { :class => ''}) do |f| %>

          <div class="control-group">
            <%= label :name, "Name", :class => "control-label" %>
            <div class="controls">
             <%= text_field_tag nil, nil, :name => "client[first_name]", :class => "client-name", :placeholder => 'First',:autofocus => true   %>
             <%= text_field_tag nil, nil, :name => "client[last_name]", :class => "client-name", :placeholder => 'Last'   %>

            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, "Email", :class => "control-label" %> <%= red_asterisk %>
            <div class="controls relative">
              <%= f.email_field :email,  :placeholder => 'Email' %>
              <%=	render 'layouts/tooltip', message: error_on_form(resource.errors,:email) unless resource.errors[:email].empty?  %>
              <%# error_on_form(resource.errors,:email)  %>
            </div>
          </div>

          <div class="control-group relative">
            <%= f.label :password, "Password", :class => "control-label" %>  <%= red_asterisk %>
            <div class="controls relative">

              <%= f.password_field :password, :placeholder => 'Password' %>
              <%=	render 'layouts/tooltip', message: error_on_form(resource.errors,:password) unless resource.errors[:password].empty?  %>
              <%# error_on_form(resource.errors,:password)  %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation, "Confirm your password", :class => "control-label" %> <%= red_asterisk %>
            <div class="controls relative">
              <%= f.password_field :password_confirmation, :placeholder => 'Password' %>
              <%=	render 'layouts/tooltip', message: error_on_form(resource.errors,:password_confirmation) unless resource.errors[:password_confirmation].empty?  %>
              <%# error_on_form(resource.errors,:password_confirmation)  %>
            </div>
          </div>

        <div class="control-group">
          <%= label :dob, "Date of birth", :class => "control-label" %>
          <div class="controls">
            <%=  date_select :client, :dob, :start_year => Time.now.year, :end_year =>1913 ,  :order => [:day, :month, :year],:prompt => true%>
          </div>
        </div>

        <div class="control-group">
          <%= label :sex, "Gender", :class => "control-label" %>
          <div class="controls">
            <%=  select_tag(nil, options_for_select([['Male', 'Male'], ['Female', 'Female']]), :id => 'sex_Gender', :name => 'client[sex]',:prompt => 'Gender') %>
          </div>
        </div>

          <div class="control-group">
            <div class="controls">
              <%= f.submit "Register", :class => "btn btn-primary" %>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
