<% self.formats = [:json, :html] %>
<%= form_for resource,  :remote => true, :html => {:class => "settings-name-form", :data => { :type => 'json' }} do |f| %>
  <div class="control-group">
    <label for="user_first_name" class="control-label">Name</label>
    <div class="controls">
      <%= f.text_field :first_name,  :placeholder => 'First name' %>
      <%=	render 'settings/error_on_form', message: error_on_form(resource.errors,:first_name) unless resource.errors[:first_name].empty?  %>
      <%= f.text_field :last_name,  :placeholder => 'Last name' %>
      <%=	render 'settings/error_on_form', message: error_on_form(resource.errors,:last_name) unless resource.errors[:last_name].empty?  %>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
<% end %>