<% self.formats = [:json, :html] %>
<%= form_for(resource, :as => :user, :remote => true, :url => registration_path(:user), :html => { :method => :put, :class=>"settings-password-form" }) do |f| %>
  <div class="control-group">
    <%= f.label :password,  :class => "control-label" do%>
      Password<br> <span class="input-details">8 chars minimum</span>
    <%end%>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password" %>
      <%=	render 'settings/error_on_form', message: error_on_form(resource.errors,:password) unless resource.errors[:password].empty?  %>
      <%= f.password_field :password_confirmation, :placeholder =>"Confirm new password" %>
      <%=	render 'settings/error_on_form', message: error_on_form(resource.errors,:password_confirmation) unless resource.errors[:password_confirmation].empty?  %>
      <%= f.password_field :current_password, :placeholder => "Current Password"%>
      <%=	render 'settings/error_on_form', message: error_on_form(resource.errors,:current_password) unless resource.errors[:current_password].empty?  %>
      <button id="save_password" type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
<%end%>