<% self.formats = [:json, :html] %>
<li class="market-product">
  <div class="market-product-category" <%= category_color('background-color',product)%>><%= product.categories.first.name %> </div>
  <div class="market-product-top">
   <%= image_tag product.image.url, :class => "market-product-image" %>
  </div>
  <div class="market-product-name"><%= product.name %> </div>
  <div class="market-product-brand"><%= product.brand %></div>
  <div class="market-product-buy" <%= category_color('background-color',product)%>>
    <div class="market-product-price"><%= product.price %>€</div>
    <%= draw_qrcode(product) %>
  </div>

</li>