<% self.formats = [:json, :html] %>
<div id="<%=product.id%>" class="product-container">
  <div class="product-category" <%= category_color('color',product)%> >
    <div class="product-triangle-color"></div>
    <i class="glyphicon glyphicon-search"></i><%= product.categories.first.name %>
  </div>
  <div class="product-image">
    <%= image_tag product.image.url, :class => "product-image-img" %>
  </div>
  <div class="product-data">
    <div class="product-namebrand">
      <span class="name" title="Name"><%= product.name %></span>
      <span class="brand" title="Brand"><small><%= product.brand %></small></span>
    </div>
  </div>
  <div class="price-cont">
    <span class="price" title="Price" <%= category_color('background-color',product)%> ><%= number_to_currency(product.price, :unit => "€", :format => "%n%u") %></span>
  </div>
  <div class="stock-cont">
    <span class="quantity" title="Quantity" ><i class="glyphicon glyphicon-shopping-cart"></i><%= product.stock %></span>
  </div>
  <%= link_to edit_product_path(product.id), :class => "edit-button", :remote => true do %>
    <div class="edit-icon">
      <i class="glyphicon glyphicon-pencil"></i>
    </div>
    <%= three_dots(:horizontal => false) %>
  <%end%>
</div>