<div class="row">
  <div class="product-search-container">
    <%= form_tag products_path, :method => :get, :id=>"product-search-form", :remote => true do %>
      <div class="span search-bar">
        <input id="search" name="q" type="text" class="wsearch" placeholder="Search for products by name and category"
               value="<%= @query %>" data-provide="typeahead" autocomplete="on" data-source='<%= all_categories %>'>

        <i class="search-reset glyphicon-remove glyphicon"> </i>
        <button class="icon-button" type="submit"><i class="glyphicon-search glyphicon"> </i></button>


      </div>
    <%end%>
  </div>
  <div class="product-new-container tcenter">
    <%= link_to "Add new product", new_product_path, :id => "newproduct", :remote => true, :class => "bbutton" %>

  </div>
</div>

<div class="row">
  <div id="products-container" class="col-span-9">

    <div class="list-loading">
      <div class="loading-inner">
        <i class="glyphicon glyphicon-refresh icon-spin"></i>
      </div>
    </div>

    <div id="products-container-inner">
      <%= render 'product_list', :products => @products %>
    </div>
  </div>

  <div class="col-span-3" style="overflow: hidden;width: 240px;">
     <div class="product-info-panel">
        <div class="edit-loading">
            <i class="glyphicon glyphicon-refresh icon-spin"></i>
        </div>
        <div id="product-info-inner">
            <%= "LOL" unless @product.nil? %>
        </div>
     </div>
  </div>
</div>