<% self.formats = [:json, :html] %>

<!--<div class="header-info-block">-->

  <%= link_to "#", :class=>"main-avatar-container" do %>
    <%= image_tag current_user.avatar.url, :class => "main-avatar-image" %>
    <span class="profile-down-arrow">&#x25BC;</span>
  <%end%>

  <div class="header-name">
    <i class="glyphicon-user glyphicon"> </i>
    <span>
      <% if current_user.is_client? %>
        <%=  current_user.client.first_name+" "+current_user.client.last_name %>
      <%else%>
        <%=  current_user.merchant.name %>
      <%end%>
    </span>
  </div>


  <div class="header-credit">
  <i class="glyphicon-euro glyphicon"> </i>
    <span>

        <% if current_user.is_client? %>
          <%=  link_to current_user.client.credit, credits_path %>
        <%else%>
          <%=  current_user.merchant.credit %>
        <%end%>

     </span>
</div>

<!--</div>-->
<div class="profile-dropdown-container">
  <ol>
    <li><%= link_to "Profile", settings_path %></li>
    <%if current_user.is_merchant? %>
      <li><%= link_to "My market", market_path(current_user.merchant.name) %></li>
    <%else%>
      <li><%= link_to "Credits", credits_path %></li>
    <%end%>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => 'delete')%>
      <%# link_to('Logout', destroy_user_session_path)%>
    </li>
  </ol>
</div>
<%# link_to('Logout', destroy_user_session_path, :method => 'delete', :class => "header-btn")%>