<!DOCTYPE html>
<html>
<head>
  <title>MobileMoneyEcosystem</title>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="width:100%;background: black;height: 100px;text-align: center;">
    <% unless user_signed_in? %>
        <%= link_to 'Login', new_user_session_path, :method => 'get' %>
    <%end%>

    <% unless user_signed_in? %>
        <%=  link_to 'Register client', client_registration_path, :method => 'get'%>
    <%end%>

    <% unless user_signed_in? %>
        <%=  link_to 'Register merchant', merchant_registration_path, :method => 'get'%>
    <%end%>

    <% if user_signed_in? && current_user.is_merchant?%>
      <%=  link_to 'Editar Produto',"../product/edit"%>
    <%end%>

    <% if user_signed_in? && current_user.is_merchant?%>
        <%=  link_to 'Adicionar Produto',"../product/add"%>
    <%end%>
    <span style=" font-size: 6em; color: white; line-height: 1em;">HEADER</span>

    <% if user_signed_in? %>
        <%=  link_to 'Logout', destroy_user_session_path, :method => 'delete'%>
    <%end%>


    <% if user_signed_in? && current_user.is_client? %>
      <span> <%=  current_user.name %> </span>
      <span>Credit:  <%= current_user.client.credit %></span>
    <% end %>

</div>

<%= yield %>

</body>
</html>
